.top {
    border: 2px solid black;
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    padding: 10px 10px;
    box-sizing: border-box;
}
    

#purple {
    background: purple;
    height: 120px;
    width: 40px;
    margin-left: 15px;
    margin-top: 45px;
    display: inline-block;
}

#green {
    background: green;
    height: 176px;
    width: 300px;
    display: inline-block;
    margin-left: 25px;
}

#circle {
    background: lightblue;
    height: 176px;
    width: 176px;
    border-radius: 50%;
    margin-left: 25px;
    display: inline-block;
    
}

.middle {
    border: 5px dotted black;
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    box-sizing: border-box;
    padding: auto;
}

#cream {
    margin: 25px auto;
    background: #ffcf7d;
    height: 80%;
    width: 80%;
    box-shadow: 10px 5px 5px black;
}

.bottom {
    border: 1px solid grey;
    height: 215px;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    box-shadow: 3px 3px 5px grey;
}

#text {
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
   margin: 75px auto;
}